* {
    color: white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.title {
    color: black;
    font-size: 46px;
    font-family: Georgia, serif;
    margin-bottom: 40px;
}

.discover {
    width: 100%;
    font-size: 20px;
    margin-top: -100px;
    color: #0056b3;
    font-family: cursive;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the body takes up at least the viewport height */
    text-align: center;
    background-image: url('house.jpg'); /* Add your image path here */
    background-size: cover; /* Cover the entire viewport without stretching */
    background-position: center; /* Center the image in the page */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-attachment: fixed; /* Optional: keeps the image fixed during scroll */
}

header {
    /* background-color: #f4f4f4; */
    padding: 20px;
    position: relative;
}

main {
    flex: 1; /* Allows the main content to grow and take up available space */
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-area {
    margin-top: 200px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

#cityInput {
    padding: 10px;
    width: 400px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#searchButton {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#searchButton:hover {
    background-color: #0056b3;
}

.image-placeholder {
    width: 60%;
    height: 400px;
    /* background-color: #ddd; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.description {
    width: 95%;
    font-size: 18px;
    margin-top: 100px;
    text-align: center;
    margin-bottom: 60px;
}

.desc {
    text-align: center;
}

.image-container {
    display: flex;
    /* justify-content: space-evenly; */
    justify-content: center;
    gap: 80px;
}

.image {
    width: 450px;
    height: 400px;
    background-color: pink;
}

input {
    color: black;
}

.panel {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
}
canvas {
    background-color: 'f0f0f0';
}

.panel button {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

a {
    text-decoration: none;
}

.panel button:hover {
    background-color: #0056b3;
}

footer {
    text-align: center;
    padding: 15px;
}

.score {
    height: 120px;
    width: 120px;
}

.recs {
    margin: 50px auto;
}